<% include include/head %>
<main>
    <%
    for(var i = 0;i < articles.length;i++){
    %>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img src="http://gravatar.duoshuo.com/avatar/email?s=48" alt="">
                <%= articles[i].user.username %>
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                <a href="/articles/detail/<%= articles[i]._id %>">
                    <%= articles[i].title %>
                </a>
            </h4>
            <p>
                <%= articles[i].content %>
            </p>
            <p>
                <img src="<%= articles[i].poster %>" alt="" width="80">
            </p>
        </div>
    </div>
    <%
    }
    %>
    <nav>
        <ul class="pagination">
            <li class="<%=pageNum==1 ? 'disabled':''%>">
                <a href="/articles/list/<%=i-1%>/2" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <%
            for(var i = 1;i <= totalPage;i++){
            %>
            <li class="<%=pageNum == i ? 'active' :''%>">
                <a href="/articles/list/<%= i %>/2?keyword=<%=keyword%>">
                    <%= i %>
                </a>
            </li>
            <%
            }
            %>
            <li  class="<%=pageNum==totalPage ? 'disabled':''%>">
                <a href="/articles/list/<%=i+1%>/2" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</main>
<% include include/foot %>
